@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@500;700&display=swap');

/* Configuración global */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  /* Para usar rem fácilmente */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root{
  --background-color:#f7f5ef;
  --primary-color: #539fa2; /* Botones principales, íconos, enlaces, acentos*/
  --secondary-color: #447d7f; /* Hover o estados activos de botones y enlaces */
  --support-color: #abccb1; /* Tarjetas, fondos suaves, inputs */
  --neutral-color: #e4edd1; /* Bordes, divisores, fondos claros */
  --main-text: #1a1a1a;
  --secondary-text:#282828;
}

/* UTILIDADES */

.container{
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */
.container-hero{
  background-color: var(--background-color);
}

.hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.container-logo{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.container-logo i{
  font-size: 3rem;
}

.container-logo a{
  text-decoration: none;
  color: var(--main-text);
  font-size: 3rem;
  letter-spacing: -0.1rem;
}

.container-user{
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.container-user .fa-user{
  font-size: 3rem;
  color: var(--primary-color);
  padding-right: 2.5rem;
  border-right: 1px solid var(--support-color);
}

.container-user .fa-basket-shopping{
  font-size: 3rem;
  color: var(--primary-color);
  padding-left: 1rem;
}

.content-shopping-cart{
  display: flex;
  flex-direction: column;
}

.search-form{
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 2.5rem;
  background-color: #ffffff;
  height: 4.4rem;
  overflow: hidden;
}

.search-form input{
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: var(--secondary-text);
  cursor: pointer;
}

.search-form input::-webkit-search-cancel-button{
  appearance: none;
}

.search-form .btn-search{
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.3rem;
}

.btn-search i{
  font-size: 1.5rem;
  color: #ffffff;
}

/* BANNER */

.banner{
  background-image: linear-gradient(100deg, #000000be, #00000017), url('/img/banner.jpg');
  height: 60rem;
  background-size: cover;
  background-position: center;
}

.content-banner{
  max-width: 70rem;
  margin: 0 auto;
  padding-right: 90rem;
  padding-top: 20rem;
}

.banner-title{
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.banner-description{
  color: var(--background-color);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.content-banner a{
  margin-top: 3rem;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 2.5rem;

}


/* NAVBAR */
.container-navbar{
  background-color: var(--primary-color);
}

.navbar{
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 1.5rem 0;
}

.navbar .fa-bars{
  display: none;
}

.menu{
  display: flex;
  gap: 2rem;
}

.menu li{
  list-style: none;
}

.menu a{
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--main-text);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}

.menu a::after{
  content: '';
  width: 4rem;
  height: 0.1rem;
  background-color: var(--neutral-color);
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all .3s ease;
}

.menu a:hover::after{
  opacity: 1;
}

.menu a:hover{
  color: var(--neutral-color);
}



body {
  max-width: 200rem;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

/* Formulario de contacto */
.contact-section {
  padding: 20rem 1rem 7rem;
  background-color: #ffffff;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.5rem;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.contact-container p {
  text-align: center;
  margin-bottom: 1rem;
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 0.7rem;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid #c9c9c9;
  width: 100%;
  font-family: inherit;
}

.contact-form select {
  background-color: #ffffff;
}

.contact-form textarea {
  line-height: 1.5rem;
  resize: none;
}

.contact-form button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #44895979;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
}

/* Reseñas */
.reviews {
  padding: 3rem 1rem;
  font-size: 1.5rem;
  background: #ffffff;
  text-align: center;
}

.reviews h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;

}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 100rem;
  margin: 0 auto;
}

.review {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
}

.review-text {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #555555
}

.review-customer {
  font-weight: bold;
  color: #555555;
}



/* ================== RESPONSIVE ================== */

 /* MAIN CONTENT */
.main-content{
  background-color: #e6e6de;
}

/* FEATURES */
.container-features{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-color: #ddf3ea;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
}

.card-feature i{
  font-size: 2.5rem;
  color: #285a2d;
}

.feature-content{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.feature-content span{
  font-weight: 700;
  font-size: 1.5rem;
  color: #1d1d1d;
}

.feature-content p{
  color: #2d2d2d;
  font-weight: 500;
}

/* mejores productos */

.container-products{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.card-product{
  background-color: #ffffff;
  padding: 2rem 3rem;
  border-radius: .5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img{
  position: relative;
}

.container-img img{
  width: 100%;
}

.content-card-producto{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
  justify-items: center;
}

.stars{
  grid-row: 1/2;
  grid-column: 1/-1;
}

/* HEADER - NAV */



