@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@500;700&display=swap');

/* Configuración global */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
  /* Para usar rem fácilmente */
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #f7f5ef;
  --primary-color: #539fa2;
  /* Botones principales, íconos, enlaces, acentos*/
  --secondary-color: #447d7f;
  /* Hover o estados activos de botones y enlaces */
  --support-color: #abccb1;
  /* Tarjetas, fondos suaves, inputs */
  --neutral-color: #e4edd1;
  /* Bordes, divisores, fondos claros */
  --main-text: #1a1a1a;
  --secondary-text: #282828;
}

/* UTILIDADES */

.container {
  max-width: 120rem;
  margin: 0 auto;
}

/* HEADER */

.container-hero {
  background-color: var(--background-color);
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}

.container-logo {
  display: flex;
  align-items: center;
  gap: .5rem;
}

.container-logo i {
  font-size: 3rem;
}

.container-logo a {
  text-decoration: none;
  color: var(--main-text);
  font-size: 3rem;
  letter-spacing: -0.1rem;
}

.container-user {
  display: flex;
  gap: 1rem;
  cursor: pointer;
}

.container-user .fa-user {
  font-size: 3rem;
  color: var(--primary-color);
  padding-right: 2.5rem;
  border-right: 1px solid var(--support-color);
}

.container-user .fa-basket-shopping {
  font-size: 3rem;
  color: var(--primary-color);
  padding-left: 1rem;
}

.content-shopping-cart {
  display: flex;
  flex-direction: column;
}

.search-form {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #ffffff;
  border-radius: 2.5rem;
  background-color: #ffffff;
  height: 4.4rem;
  overflow: hidden;
}

.search-form input {
  outline: none;
  font-family: inherit;
  border: none;
  width: 25rem;
  font-size: 1.4rem;
  padding: 0 2rem;
  color: var(--secondary-text);
  cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
  appearance: none;
}

.search-form .btn-search {
  border: none;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1.3rem;
}

.btn-search i {
  font-size: 1.5rem;
  color: #ffffff;
}

/* BANNER */

.banner {
  background-image: linear-gradient(100deg, #000000be, #00000017), url('/img/banner.jpg');
  height: 63rem;
  background-size: cover;
  background-position: center;
}

.content-banner {
  max-width: 70rem;
  margin: 0 auto;
  padding-right: 90rem;
  padding-top: 20rem;
}

.banner-title {
  color: var(--primary-color);
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

.banner-description {
  color: var(--background-color);
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.2;
}

.content-banner a {
  margin-top: 3rem;
  text-decoration: none;
  color: var(--background-color);
  background-color: var(--primary-color);
  display: inline-block;
  padding: 1rem 3rem;
  text-transform: uppercase;
  border-radius: 2.5rem;

}


/* NAVBAR */
.container-navbar {
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0;
}

.navbar .fa-bars {
  display: none;
}

.menu {
  display: flex;
  gap: 2rem;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  font-size: 1.3rem;
  color: var(--main-text);
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  transition: all 0.2s ease;
}

.menu a::after {
  content: '';
  width: 4rem;
  height: 0.1rem;
  background-color: var(--neutral-color);
  position: absolute;
  bottom: -0.3rem;
  left: 50%;
  transform: translate(-50%, 50%);
  opacity: 0;
  transition: all .3s ease;
}

.menu a:hover::after {
  opacity: 1;
}

.menu a:hover {
  color: var(--neutral-color);
}



body {
  max-width: 200rem;
  margin: 0 auto;
  font-family: "Lato", sans-serif;
}

/* Formulario de contacto */
.contact-section {
  padding: 20rem 1rem 7rem;
  background-color: #ffffff;
}

.contact-container {
  max-width: 600px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 1.5rem;
}

.contact-container h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Playfair Display', serif;
  font-size: 3rem;
}

.contact-container p {
  text-align: center;
  margin-bottom: 1rem;
  color: #555;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact-form label {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 0.7rem;
  outline: none;
  border: none;
  border-bottom: 0.2rem solid #c9c9c9;
  width: 100%;
  font-family: inherit;
}

.contact-form select {
  background-color: #ffffff;
}

.contact-form textarea {
  line-height: 1.5rem;
  resize: none;
}

.contact-form button {
  margin-top: 1rem;
  padding: 1rem;
  background-color: #44895979;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.6rem;
}

/* Reseñas */
.reviews {
  padding: 3rem 1rem;
  font-size: 1.5rem;
  background: #ffffff;
  text-align: center;
}

.reviews h2 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-family: 'Playfair Display', serif;

}

.reviews-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.5rem;
  max-width: 100rem;
  margin: 0 auto;
}

.review {
  background: white;
  border-radius: 10px;
  padding: 1.5rem;
}

.review-text {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #555555
}

.review-customer {
  font-weight: bold;
  color: #555555;
}



/* ================== RESPONSIVE ================== */

/* MAIN CONTENT */
.main-content {
  background-color: #e6e6de;
}

/* FEATURES */
.container-features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  padding: 3rem 0;
}

.card-feature {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;

  background-color: white;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
}

.card-feature i {
  font-size: 2.5rem;
  color: var(--primary-color);
}

.feature-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-left: 1rem;
}

.feature-content span {
  font-weight: 700;
  font-size: 1.5rem;
  color: #1d1d1d;
}

.feature-content p {
  color: #2d2d2d;
  font-weight: 500;
}

/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */
.top-products {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 3rem;
}

.top-products h1{
  text-align: center;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: var(--main-text);
	background-color: var(--background-color);
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
  transition: all 0.2s ease;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Products */
.container-products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 3rem;
}

.card-product {
  background-color: #ffffff;
  padding: 1rem 3rem;
  border-radius: .5rem;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
  position: relative;
  width: 100%;
  height: 250px;      /* poné la altura que quieras */
  object-fit: cover;  /* recorta sin deformar */
  margin-top: 1rem;
  
}

.container-img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center 60%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.button-group {
  margin-top: 0.8rem;
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.button-group span {
	border: 2px solid var(--primary-color);
	padding: 0.9rem 0.7rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius:10rem;
	cursor: pointer;
	transition: all 0.2s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1.5rem;
}


.content-card-product {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(4, min-content);
  row-gap: 1rem;
  margin-top: 1rem;
  justify-items:center;
}

.stars {
  grid-row: 1/2;
  grid-column: 1/-1;
  margin-top: 1rem;
}

.stars i {
	font-size: 1.3rem;
	color: var(--primary-color);
}

.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;
	font-weight: 400;
	font-size: 1.6rem;
	cursor: pointer;
  margin-bottom: 0.5rem;
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 10rem;
	cursor: pointer;
	transition: all 0.3s ease;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart p{
  font-size: 1.5rem;
  padding:0 2rem;
  color: var(--secondary-color);
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart:hover p {
	color: #fff;
}

.content-card-product .price {
  justify-content: center;
	align-self: center;
	font-size: 1.5rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
}

/* ********************************** */
/*              FOOTER                */
/* ********************************** */
footer {
  background-color: var(--primary-color);
}

.footer-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 10rem;
  border-bottom: 1px solid var(--secondary-color);
}

.container-logo-footer{
  display: flex;
  align-items: center;
  gap: .5rem;
}

.container-logo-footer i {
  font-size: 2rem;
}

.container-logo-footer a {
  text-decoration: none;
  color: var(--main-text);
  font-size: 2rem;
  letter-spacing: -0.1rem;
}

.socials {
  display: flex;
  gap: 1.6rem;
}

.socials a{
  color: var(--main-text);
  font-size: 2rem;
  position: relative;
  transition: all 0.3s ease;
}

.socials a:not(:last-child)::after {
  content: '';
  position: absolute;
  right: -1rem;
  top: 25%;
  height: 60%;
  width: 0.1rem;
  background-color: var(--main-text);
}


.footer-bottom{
  padding: 2.2rem 8%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

.footer-bottom ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-bottom ul li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.4rem;
  transition: all 0.3s ease;
}

.footer-bottom ul li a:hover,
.socials a:hover {
  color: var(--neutral-color);
}

address{
  color: var(--main-text);
  font-style: normal;
  font-size: 1.5rem;
}

.footer-bottom div h4{
  font-weight: 500;
  font-size: 1.5rem;
}

.footer-bottom div{
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}


/* ********************************** */
/*              REVIEWS                */
/* ********************************** */

.reviews-section {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10rem;
}

.container__left h1 {
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
  color: var(--primary-color);
}

.container__left p {
  color: var(--main-text);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.container__left button {
  padding: 1rem 2rem;
  margin-top: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: var(--primary-color);
  color: var(--background-color);
  font-size: 1.5rem;
  cursor: pointer;
}

.card {
  padding: 2rem;
  display: flex;
  align-items: flex-start;
  gap: 2rem;
  background-color: white;
  border-radius: 1rem;
  
  cursor: pointer;
  margin-top: 2rem;
}

.card img {
  max-width: 75px;
  border-radius: 100%;
}

.card__content {
  display: flex;
  gap: 1rem;
}

.card__content span i {
  font-size: 2rem;
  color: var(--primary-color);
}

.card__details p {
  font-style: italic;
  color: var(--main-text);
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.card__details h4 {
  text-align: right;
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
}



@media (max-width: 1200px) {
  .footer-bottom {
  grid-template-columns: repeat(3, 1fr);
  }
  
  .container {
  gap: 3rem;
  }
  }
  
  @media (max-width: 900px) {
  .footer-bottom {
  grid-template-columns: repeat(2, 1fr);
  }
  .container {
  grid-template-columns: repeat(1, 1fr);
  }
  
  .container__right {
  grid-template-columns: repeat(2, 1fr);
  }
  }
  
  @media (max-width: 750px) {
  .container__right {
  grid-template-columns: repeat(1, 1fr);
  }
  }
  
  @media (max-width: 500px) {
  .footer-top{
  flex-direction: column;
  padding: 1.5rem 2rem;
  }
  
  .footer-bottom{
  grid-template-columns: repeat(1, 1fr);
  }
  }

